@font-face {
    font-family: Digital;
    src: url(./font/digital-7.regular.ttf);
}

.container{
    border: 5px solid rgb(56, 56, 56);
    width: 22em;
    height: 36em;
    background-color: rgb(212, 211, 211);
}

body{
    display: flex;
    justify-content: center;
    background-color:darkslategray;
}

.display{
    font-family: Digital;
    background-color: gray;
    height: 20%;
    border: 5px solid black;
    font-size: 6em;
    text-align: end;
    text-overflow:clip;
    overflow: hidden;
}

button{
    height: 3.5em;
    width: 3.5em;
    border-radius: 0.4em;
    margin: 0.2em;
    color: white;
    background-color: rgb(41, 40, 40);
    font-weight: 700;
    font-size: 22px;
}

.buttons{
    margin-top: 0.6em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    justify-content: center;
}

.operator{
    background-color: gray;
}

.operator:focus{
    background-color:rgb(93, 91, 91) ;
}

.equals:active, .operand:active{
    background-color: rgb(91, 91, 91);
}

.negate, .delete, .percent{
    background-color: rgb(0, 174, 255);
}

.clear{
    background-color: rgb(240, 45, 45);
}

.negate:active, .percent:active, .delete:active{
    background-color:rgb(4, 92, 133) ;
}

.clear:active{
    background-color: brown;
}

.display1{
    height: 0.7em;
    font-size: 0.3em;
}

.equals{
    width: 7.6em;
}